body {
    width: 80%;
    margin: auto;
    background-color: rgb(114, 200, 215);
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

figure {
    clear: right;
    float: right;
}

.figure_left{
    clear: left;
    float: left;
}

img {
    height: 300px;
}